

#body{
  padding:0px;
}
h3{
  font-family: 'Jura', sans-serif;
}
h4{
  font-family: 'Jura', sans-serif;
}

#workout-review {
  height: 500px;
  overflow: scroll;
}
#workout-container{
  padding:20px;
}
#create-container{
  padding:20px;
}

.list-group-item{
  background-color:#248888;
}

.list-group-item a{
  background-color: white;
}

.home-workout-list {
  max-height: 300px;
  overflow: scroll;
}
.exercise-holder{
  background-color: #AEB8C3;
  border: 2px solid #445252;
}
.edit-container{
  background-color:#E7475E;
}

.img-responsive{
	margin: 0 auto;
}

#home-create{
  background-color: #248888;
}
#home-search{
  background-color: #F0D879;
}
#home-friends{
  background-color: #E7475E;
}
.home-option{
  margin-bottom:10px;
  padding:10px;
  border:2px solid #445252;
}
.home-option h5{
  color:black;
  font-family: 'Arvo', serif;
}
.friend-element{
  background-color:#F0D879;
  padding:5px;
  margin-bottom:10px;

}
