/*#exercise-builder{
	height:500px;
	overflow: scroll;
}*/

#workout-review {
  height: 500px;
  overflow: scroll;
}

#home-workout-list {
  max-height: 300px;
  overflow: scroll;
  border: 2px solid #BEF7E4;
  padding: 5px
}

.img-responsive{
	margin: 0 auto;
}

#excsImg{
	height:100px;
	max-width:100%;
}
